    * {   /* Reset the margin and padding for all the elements */
   margin: 0px;
   padding: 0px;
}
    body{/*
      background-image:url('https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v904-nunny-032.jpg?w=1300&dpr=1&fit=default&crop=default&q=80&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=aee145aed5eae34838714abf0e264a3b');
       background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height:100%;*/
      background-color: rgb(255, 255, 255);
         }
    .banner{
      width:100%;
      display:block;

    }
    .banner-img{
      width:100%;
      height:30em;
      display:block;
       background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
      
          }
.navbar-dark {
  background-color:black; 
}
.nav-item{
  color: white;
  font-size: 15px;
  text-transform: uppercase;
  cursor: pointer;
font-family: monospace;
margin-left: 20px;
}

/* 
.container {
  height: 60px;
  background-color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
}

.container .logo {
  max-width: 250px;
  padding: 0 10px;
  overflow: hidden;
}

.container .logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 60px;
}

.container .logo a img {
  max-width: 100%;
  max-height: 60px;
} */

/* .container .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 0 10px;
} */
/* 
.container .navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.container .navbar ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  display: block;
  height: 60px;
  line-height: 60px;
  cursor: pointer;
  padding: 0 10px;
}

.container .navbar ul li a:hover {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.9);
}

.container .navbar ul .close {
  display: none;
  text-align: right;
  padding: 10px;
}

.container .navbar ul .close span {
  font-size: 40px;
  display: inline-block;
  border: 1px solid #ffffff;
  padding: 0 10px;
  cursor: pointer;
}

.container .navbar .icon-bar {
  padding: 18px 8px;
  width: 50px;
  height: 60px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  cursor: pointer;
}

.container .navbar .icon-bar i {
  background-color: #ffffff;
  height: 2px;
} */

@media only screen and (max-width: 650px) {
  /* .container {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .container .logo {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .container .navbar {
    -webkit-box-flex: 0;
    -ms-flex: 0;
    flex: 0;
  }

  .container .navbar ul {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    position: fixed;
    right: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background: #ffffff;
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-transition: right .3s;
    -o-transition: right .3s;
    transition: right .3s;
  }

  .container .navbar ul li a {
    padding: 10px;
    font-size: 16px;
    height: auto;
    line-height: normal;
    color: #ffffff;
  }

  .container .navbar ul .close {
    display: block;
  }

  .container .navbar .icon-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .container .navbar ._Menus-show {
    left: 0;
  } */
}


    h1{
      font-family: 'Bebas Neue', cursive;
      display: block;
      text-align: center;
      letter-spacing: 1.8px;
      padding-top:35px;
      padding-bottom:45px;
      font-size:40px;
      
    }
    #why{
      font-family: '','Times New Roman', Times, serif;
      font-size: 1.2em;
      display: block;
      margin-left:100px;
      margin-right:100px;
      text-align: left;
      font-weight: 1000px;
      padding:8px;
      letter-spacing:1px;
      margin-top:0.5em;
       }
       #head1{
      font-family: '','Times New Roman', Times, serif;
      font-size: 1.4em;
      display: block;
      margin-left:100px;
      margin-right:100px;
      text-align: center;
      font-weight: 450px;
      padding:8px;
      background-color: white;
      letter-spacing:1px;
       }
       #head2{
      font-family: '','Times New Roman', Times, serif;
      font-size: 1.4em;
      display: block;
      margin-left:100px;
      margin-right:100px;
      text-align: center;
      font-weight: 450px;
      padding:8px;
      background-color: white;
      letter-spacing:1px;
       }
       
  h4{
    font-family: 'Bebas Neue', cursive;    
    letter-spacing: 1.5px;
    font-size:2em;
    margin:25px;
    padding:5px;
    padding-left: 5px;
    font-weight: bold;
      
      
    }
    h6{
      font-family: Arial, Helvetica, sans-serif;
      font-size: 1.2em;
      letter-spacing:1px;
      margin-left:3em;
      margin-right:3em;

  }
 .Myths{
   font-family: 'Bungee Shade', cursive;
   font-size:2em;
   color:rgb(255, 0, 0);
   text-align: center;
   border-color: transparent;
   background-color:transparent;
   margin-left:38%;
   margin-right:auto;
   padding-bottom: 20px;
   margin-bottom: 20px;
    
  }
  .Myths:hover{
    background-image:none;
    color:rgb(0, 0, 0);
  }
h2{
        font-family: 'Inconsolata', monospace;
        font-size: 1.4em;
        text-align: center;
        padding:1.5em;
       }
   
.buster{
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-size: 1.1em;
      display: block;
      margin-left:200px;
      margin-right:200px;
      margin-bottom: 100px;
      padding-bottom: 20px;
      text-align: center;
      letter-spacing:1px;
      font-weight: bold;
      padding:2px;
   
       }
#foot{
  text-align: center;
  font-size: 1em;
  margin:40px;
}
/* text carousel*/
/* Slideshow container */
.slideshow-container {
  position: relative;
  background: transparent;
}

/* Slides */
.mySlides {
  display: none;
  padding: 60px;
  text-align: center;
}



/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
  text-align: center;
  padding: 10px;
  background:transparent;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: rgb(165, 163, 163);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: #cfd0d3;
}

/* Add an italic font style to all quotes */
q {
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 1.2em;}

/* Add a blue color to the author */
.author {color: rgb(5, 27, 66);}



/*disability cards*/ 
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root{
    --dark:#2b2d42;
}

body{
    font-family: 'Lato', sans-serif;
}

h3{
  text-align: center;
  display: block;
  padding:1px;
  font-size: 1em;
}
ol{
  margin-left:100px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: normal;
  font-size: 1.3em;
  }
#list{
  margin-left: 50px;
  list-style-type: disc;
}
.et{
  padding-right: 30px;
  padding-left: 30px;
  margin-left: 50px;
  margin-right: 50px;
  font-size: 1em;
  
}
/*table*/
Table { background-color:rgb(255, 255, 255);border-collapse:collapse;margin: 20px; }
Table th { background-color:rgb(2, 17, 97);color:white;width:20%; font-family:'Courier New', Courier, monospace}
Table td, Table th { padding:5px;border:1px solid #000; }

.dundas-blue-text-long{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  color: rgb(1, 1, 53);
  font-weight: normal;
  margin:10px;
  padding-top: 100px;
}

 @media screen and (max-width:450px) {
   #navbar {
  list-style-type: none;
  padding: 1.5em;
  background-color: black;
  overflow: hidden;
}

#navbar-item {
  display: inline;
  margin-left:20px;
 }

#navbar-item a {    /* Style hyperlink text in nav bar */
  color: white;
  text-decoration: none;
  padding: 0.2em;
  font-size: 1em;
  font-family:'Playfair Display SC', serif;
  text-align: center;
  margin-left:0px;
 
}
.nav{
  text-align: center;
}

#navbar-item a:hover {
  background-color: rgb(255, 255, 255);
}
.banner-img{
      width:100%;
      height:15em;
      display:block;
      
          }
h1{
      font-family: 'Bebas Neue', cursive;
      display: block;
      text-align: center;
      letter-spacing: 1.8px;
          font-size:40px;
      
    }
    #why{
      font-family:'Times New Roman', Times, serif;
      font-size: 1.15em;
      display: block;
      margin-left:40px;
      margin-right:40px;
      text-align: left;
      font-weight: 450px;
      padding:8px;
      letter-spacing:1px;
      margin-top:0.5em;
       }
       #head1{
      font-family: '','Times New Roman', Times, serif;
      font-size: 1.8em;
      display: block;
      margin-left:100px;
      margin-right:100px;
      text-align: center;
      font-weight: 450px;
      padding:8px;
      letter-spacing:1px;
       } 
.Myths{
   font-family: 'Bungee Shade', cursive;
   font-size:1.8em;
   color:rgb(255, 0, 0);
   text-align: center;
   margin-left:70px;
   border-color: transparent;
   background-color:transparent;
   padding-bottom: 20px;
   margin-bottom: 20px;
   padding-top: 15px;
    
  }
  .Myths:hover{
    background-image:none;
    color:rgb(0, 0, 0);
  }
#facts{
        font-family: 'Inconsolata', monospace;
        font-size: 1.8em;
        text-align: center;
        padding:1em;
       }
   
.buster{
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 1em;
      display: block;
      margin-left:50px;
      margin-right:50px;
      margin-bottom: 100px;
      padding-bottom: 20px;
      text-align: left;
      letter-spacing:1px;
      font-weight: inherit;
      padding:2px;
   
       } 
       .prev, .next {
  cursor: pointer;
  margin-left: 4.7em;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: rgb(8, 8, 8);
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}     
ol{
  margin-left:40px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: inherit;
  font-size: 0.8em;
  margin-right: 40px;
  }
#list{
  margin-left: 50px;
  list-style-type: disc;   
 }
 .dundas-blue-text-long{
  font-family: Arial, Helvetica, sans-serif;
  font-size:2em;
  color: rgb(1, 1, 53);
  font-weight: normal;
  margin-top:30px;
  padding-top: 20px;
}
Table { background-color:rgb(255, 255, 255);
border-collapse:collapse;
margin: 2px; }
Table th { background-color:rgb(2, 17, 97);color:white;
width:10%;; height:10%;font-family:'Courier New', Courier, monospace}
Table td, Table th { padding:3px;border:2px solid #000; width:10%; height:10% }



 }
.webinar-grid {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.link-block {
  position: relative;
  width: 30%;
  min-height: 400px;
  text-align: center;
  margin: 20px auto;
  background-color: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-radius: 5px 5px 0 0;
  text-decoration: none;
}

.link-block:hover {
  box-shadow: 0 10px 18px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.link-block .dundas-blue-link {
  background: rgba(8, 41, 102, 0.9);
  border: solid 1px rgba(8, 41, 102, 0.9);
  padding: 8px 25px;
  color: #fff!important;
  width: auto;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  
}

.link-block .dundas-blue-link:hover {
  background: #fff;
  color: rgba(8, 41, 102, 0.9)!important;
}

.link-block .webinar-image-container {
  width: 100%;
  height: 150px;
  position: relative;
  top: 0;
 }
.webinar-image-container img {
  width: 100%;
  height: auto;
  border-radius: 5px 5px 0 0;
}

.archive {
  display: none;
}


/* .webinar-content-box p {white-space: nowrap;overflow: hidden;text-overflow: ellipsis;} */


/* TABLET PORTRAIT */

@media only screen and (min-width: 569px) and (max-width: 880px) {
  .link-block {
    position: relative;
    width: 45%;
    max-width: 330px;
  }
  .link-block .dundas-blue-text-long {
    font-size: 22px;
  }
}


/* MOBILE LANDSCAPE */

@media only screen and (min-width: 0) and (max-width: 568px) {
  .link-block {
    position: relative;
    width: 90%;
    max-width: 300px;
  }
  .link-block .dundas-blue-text-long {
    font-size: 18px;
  }
  .logofinal{
    margin-right: 36.5%;
  }
  iframe{
      width:400px;
      height:250px;
      padding: 10px;
    }
}

.videoWrapper {
  height: auto;
  width: 723px;
  position: relative;
  overflow: hidden;
}

.videoWrapper iframe {
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
}
.container1{
  text-align: center;
  overflow: hidden;
  width: 800px;
  margin: 0 auto;
}

.container1 table {
  width: 100%;
}

.container1 td, .container1 th {
  padding: 10px;
}

.container1 td:first-child, .container1 th:first-child {
  padding-left: 20px;
}

.container1 td:last-child, .container1 th:last-child {
  padding-right: 20px;
}

.container1 th {
  border-bottom: 1px solid #ddd;
  position: relative;
}
footer {
  margin-top: 150px;
  text-align: left;
  padding: 2px;
  background-color: rgb(235, 235, 235);
  color: rgb(0, 0, 0);
  font-size: 13px;
 
}
#disclaimer{

  margin-top: 70px;
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px;
}
/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  color: #3B5998;
  margin-right: 30px;
}
/* Twitter */
.fa-twitter {
  color: #55ACEE;
  margin-right:30px;
}
.fa-instagram{
  color:rgb(240, 15, 128);
  margin-right:30px;
}
.fa-linkedin{
  color:#3B5998;
  margin-right:30px;
}


.icons{
  text-align: center;
  font-size: 20px;
}
#outer{
  margin-left:50px;
}

.button_slide {
  color:#000;
  border: 2px solid rgb(23, 1, 121);
  border-radius: 0px;
  padding: 10px 25px;
  display: inline-block;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 10px;
  letter-spacing: 1.5px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 rgb(255, 255, 255);
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}
.slide_right:hover {
  box-shadow: inset 400px 0 0 0 #ffffff ;
}

.btn:hover {background-color: #e7e7e7;}
#dr{
  background-color: rgb(5, 5, 110);
  color: white;
  text-align: center;
  padding:5px;
  font-family: monospace;
}
#dr:hover{
  background-color: grey;
}
.btns{
  text-align: center;
}
  .your-centered-div {
   text-align: center;
    }
    iframe{
      width:700px;
      height:400px;
    }
@media screen and (max-width: 480px) {
.your-centered-div {
    text-align: center;

    }
    iframe{
      width:380px;
      height:250px;
      padding: 10px;
    }  
}
/* .carousel {
    margin-left: 15%;
    margin-right: 15%;
} */

ul.slides {
    display: block;
    position: relative;
    height: 600px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none;
}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

ul.slides input {
    display: none; 
}


.slide-container { 
    display: block; 
}

.slide-image {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0;
    transition: all .7s ease-in-out;
}   

.slide-image img {
    width: auto;
    min-width: 100%;
    height: 100%;
}
/* 
.carousel-controls {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    font-size: 100px;
    line-height: 600px;
    color: #fff;
}

.carousel-controls label {
    display: none;
    position: absolute;
    padding: 0 20px;
    opacity: 0;
    transition: opacity .2s;
    cursor: pointer;
}

.slide-image:hover + .carousel-controls label{
    opacity: 0.5;
}

.carousel-controls label:hover {
    opacity: 1;
}

.carousel-controls .prev-slide {
    width: 49%;
    text-align: left;
    left: 0;
}

.carousel-controls .next-slide {
    width: 49%;
    text-align: right;
    right: 0;
}

.carousel-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    z-index: 999;
    text-align: center;
}

.carousel-dots .carousel-dot {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.5;
    margin: 10px;
}

input:checked + .slide-container .slide-image {
    opacity: 1;
    transform: scale(1);
    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .carousel-controls label {
     display: block; 
}

input#img-1:checked ~ .carousel-dots label#img-dot-1,
input#img-2:checked ~ .carousel-dots label#img-dot-2,
input#img-3:checked ~ .carousel-dots label#img-dot-3,
input#img-4:checked ~ .carousel-dots label#img-dot-4,
input#img-5:checked ~ .carousel-dots label#img-dot-5,
input#img-6:checked ~ .carousel-dots label#img-dot-6 {
	opacity: 1;
} */


input:checked + .slide-container .nav label { display: block; }


  .carousel .carousel-item {
    height: 350px; }
    .carousel .carousel-item img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 350px; }

#carouselButton {
  right: 0px;
  position: absolute;
  top: 0px;
  z-index: 1; }
@media screen and(max-width: 480px) {
  .carousel .carousel-item {
    height: 200px; }
    .carousel .carousel-item img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 200px; }
}
#google_translate_element{
  text-align: center;
}
body > .skiptranslate {
    display: none;
}