    * {   /* Reset the margin and padding for all the elements */
   margin: 0px;
   padding: 0px;
}
    body{
      background-color: rgb(255, 255, 255);
         }
    .banner{
      width:100%;
      display:block;

    }
    .banner-img{
      width:100%;
      height:30em;
      display:block;
       background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
      
          }
.navbar-dark {
  background-color:black; 
}
.nav-item{
  color: white;
  font-size: 15px;
  text-transform: uppercase;
  cursor: pointer;
font-family: monospace;
margin-left: 20px;
}



    h1{
      font-family: 'Bebas Neue', cursive;
      display: block;
      text-align: center;
      letter-spacing: 1.8px;
      padding-top:35px;
      padding-bottom:45px;
      font-size:40px;
      
    }
    #why{
      font-family: '','Times New Roman', Times, serif;
      font-size: 1.2em;
      display: block;
      margin-left:100px;
      margin-right:100px;
      text-align: left;
      font-weight: 1000px;
      padding:8px;
      letter-spacing:1px;
      margin-top:0.5em;
       }
       #head1{
      font-family: '','Times New Roman', Times, serif;
      font-size: 1.4em;
      display: block;
      margin-left:100px;
      margin-right:100px;
      text-align: center;
      font-weight: 450px;
      padding:8px;
      background-color: white;
      letter-spacing:1px;
       }
       #head2{
      font-family: '','Times New Roman', Times, serif;
      font-size: 1.4em;
      display: block;
      margin-left:100px;
      margin-right:100px;
      text-align: center;
      font-weight: 450px;
      padding:8px;
      background-color: white;
      letter-spacing:1px;
       }
       
  h4{
    font-family: 'Bebas Neue', cursive;    
    letter-spacing: 1.5px;
    font-size:2em;
    margin:25px;
    padding:5px;
    padding-left: 5px;
    font-weight: bold;
      
      
    }
    h6{
      font-family: Arial, Helvetica, sans-serif;
      font-size: 1.2em;
      letter-spacing:1px;
      margin-left:3em;
      margin-right:3em;

  }
 .Myths{
   font-family: 'Bungee Shade', cursive;
   font-size:2em;
   color:rgb(255, 0, 0);
   text-align: center;
   border-color: transparent;
   background-color:transparent;
   margin-left:38%;
   margin-right:auto;
   padding-bottom: 20px;
   margin-bottom: 20px;
    
  }
  .Myths:hover{
    background-image:none;
    color:rgb(0, 0, 0);
  }
h2{
        font-family: 'Inconsolata', monospace;
        font-size: 1.4em;
        text-align: center;
        padding:1.5em;
       }
   
.buster{
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-size: 1.1em;
      display: block;
      margin-left:200px;
      margin-right:200px;
      margin-bottom: 100px;
      padding-bottom: 20px;
      text-align: center;
      letter-spacing:1px;
      font-weight: bold;
      padding:2px;
   
       }
#foot{
  text-align: center;
  font-size: 1em;
  margin:40px;
}
/* text carousel*/
/* Slideshow container */
.slideshow-container {
  position: relative;
  background: transparent;
}

/* Slides */
.mySlides {
  display: none;
  padding: 60px;
  text-align: center;
}



/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
  text-align: center;
  padding: 10px;
  background:transparent;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: rgb(165, 163, 163);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: #cfd0d3;
}

/* Add an italic font style to all quotes */
q {
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 1.2em;}

/* Add a blue color to the author */
.author {color: rgb(5, 27, 66);}



/*disability cards 
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root{
    --dark:#2b2d42;
}

body{
    font-family: 'Lato', sans-serif;
}
*/
h3{
  text-align: center;
  display: block;
  padding:1px;
  font-size: 1em;
}
ol{
  margin-left:100px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: normal;
  font-size: 1.3em;
  }
#list{
  margin-left: 50px;
  list-style-type: disc;
}
.et{
  padding-right: 30px;
  padding-left: 30px;
  margin-left: 50px;
  margin-right: 50px;
  font-size: 1em;
  
}
/*table*/
Table { background-color:rgb(255, 255, 255);border-collapse:collapse;margin: 20px; }
Table th { background-color:rgb(2, 17, 97);color:white;width:20%; font-family:'Courier New', Courier, monospace}
Table td, Table th { padding:5px;border:1px solid #000; }



 @media screen and (max-width:450px) {
   #navbar {
  list-style-type: none;
  padding: 1.5em;
  background-color: black;
  overflow: hidden;
}

#navbar-item {
  display: inline;
  margin-left:20px;
 }
.dot {
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin: 0 2px;
  background-color: rgb(165, 163, 163);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
#navbar-item a {    /* Style hyperlink text in nav bar */
  color: white;
  text-decoration: none;
  padding: 0.2em;
  font-size: 1em;
  font-family:'Playfair Display SC', serif;
  text-align: center;
  margin-left:0px;
 
}
.nav{
  text-align: center;
}

#navbar-item a:hover {
  background-color: rgb(255, 255, 255);
}
.banner-img{
      width:100%;
      height:15em;
      display:block;
      
          }
h1{
      font-family: 'Bebas Neue', cursive;
      display: block;
      text-align: center;
      letter-spacing: 1.8px;
          font-size:40px;
      
    }
    #why{
      font-family:'Times New Roman', Times, serif;
      font-size: 1.15em;
      display: block;
      margin-left:40px;
      margin-right:40px;
      text-align: left;
      font-weight: 450px;
      padding:8px;
      letter-spacing:1px;
      margin-top:0.5em;
       }
       #head1{
      font-family: '','Times New Roman', Times, serif;
      font-size: 1.8em;
      display: block;
      margin-left:100px;
      margin-right:100px;
      text-align: center;
      font-weight: 450px;
      padding:8px;
      letter-spacing:1px;
       } 
.Myths{
   font-family: 'Bungee Shade', cursive;
   font-size:1.8em;
   color:rgb(255, 0, 0);
   text-align: center;
   margin-left:70px;
   border-color: transparent;
   background-color:transparent;
   padding-bottom: 20px;
   margin-bottom: 20px;
   padding-top: 15px;
    
  }
  .Myths:hover{
    background-image:none;
    color:rgb(0, 0, 0);
  }
#facts{
        font-family: 'Inconsolata', monospace;
        font-size: 1.8em;
        text-align: center;
        padding:1em;
       }
   
.buster{
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 1em;
      display: block;
      margin-left:50px;
      margin-right:50px;
      margin-bottom: 100px;
      padding-bottom: 20px;
      text-align: left;
      letter-spacing:1px;
      font-weight: inherit;
      padding:2px;
   
       } 
       .prev, .next {
  cursor: pointer;
  margin-left: 4.7em;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: rgb(8, 8, 8);
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}     
ol{
  margin-left:40px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: inherit;
  font-size: 0.8em;
  margin-right: 40px;
  }
#list{
  margin-left: 50px;
  list-style-type: disc;   
 }
 
Table { background-color:rgb(255, 255, 255);
border-collapse:collapse;
margin: 2px; }
Table th { background-color:rgb(2, 17, 97);color:white;
width:10%;; height:10%;font-family:'Courier New', Courier, monospace}
Table td, Table th { padding:3px;border:2px solid #000; width:10%; height:10% }



 }




/* MOBILE LANDSCAPE */

@media only screen and (min-width: 0) and (max-width: 568px) {
  
  .logofinal{
    margin-right: 36.5%;
  }
  iframe{
      width:400px;
      height:250px;
      padding: 10px;
    }
}

.videoWrapper {
  height: auto;
  width: 723px;
  position: relative;
  overflow: hidden;
}

.videoWrapper iframe {
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
}
.container1{
  text-align: center;
  overflow: hidden;
  width: 800px;
  margin: 0 auto;
}

.container1 table {
  width: 100%;
}

.container1 td, .container1 th {
  padding: 10px;
}

.container1 td:first-child, .container1 th:first-child {
  padding-left: 20px;
}

.container1 td:last-child, .container1 th:last-child {
  padding-right: 20px;
}

.container1 th {
  border-bottom: 1px solid #ddd;
  position: relative;
}
footer {
  margin-top: 150px;
  text-align: left;
  padding: 2px;
  background-color: rgb(235, 235, 235);
  color: rgb(0, 0, 0);
  font-size: 13px;
 
}
#disclaimer{

  margin-top: 70px;
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px;
}
/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  color: #3B5998;
  margin-right: 30px;
}
/* Twitter */
.fa-twitter {
  color: #55ACEE;
  margin-right:30px;
}
.fa-instagram{
  color:rgb(240, 15, 128);
  margin-right:30px;
}
.fa-linkedin{
  color:#3B5998;
  margin-right:30px;
}


.icons{
  text-align: center;
  font-size: 20px;
}
#outer{
  margin-left:50px;
}

.button_slide {
  color:#000;
  border: 2px solid rgb(23, 1, 121);
  border-radius: 0px;
  padding: 10px 25px;
  display: inline-block;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 10px;
  letter-spacing: 1.5px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 rgb(255, 255, 255);
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}
.slide_right:hover {
  box-shadow: inset 400px 0 0 0 #ffffff ;
}

.btn:hover {background-color: #e7e7e7;}
#dr{
  background-color: rgb(5, 5, 110);
  color: white;
  text-align: center;
  padding:5px;
  font-family: monospace;
}
#dr:hover{
  background-color: grey;
}
.btns{
  text-align: center;
}
  .your-centered-div {
   text-align: center;
    }
    iframe{
      width:700px;
      height:400px;
    }
@media screen and (max-width: 480px) {
.your-centered-div {
    text-align: center;

    }
    iframe{
      width:380px;
      height:250px;
      padding: 10px;
    }  
}
/* .carousel {
    margin-left: 15%;
    margin-right: 15%;
} */

ul.slides {
    display: block;
    position: relative;
    height: 600px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none;
}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

ul.slides input {
    display: none; 
}


.slide-container { 
    display: block; 
}

.slide-image {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0;
    transition: all .7s ease-in-out;
}   

.slide-image img {
    width: auto;
    min-width: 100%;
    height: 100%;
}
input:checked + .slide-container .nav label { display: block; }


  .carousel .carousel-item {
    height: 350px; }
    .carousel .carousel-item img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 350px; }

#carouselButton {
  right: 0px;
  position: absolute;
  top: 0px;
  z-index: 1; }
@media screen and(max-width: 480px) {
  .carousel .carousel-item {
    height: 200px; }
    .carousel .carousel-item img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 200px; }
}
#google_translate_element{
  text-align: center;
}
body > .skiptranslate {
    display: none;
}
.main{
  margin:20px;
}
.card_image img{
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.btn11 {
  color: #000000;
  padding: 0.8rem;
  font-size: 12px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgb(92, 91, 91);
  background:  rgb(231, 231, 231);
}

.btn11:hover {
  background-color: rgb(195, 195, 195);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_content {
  padding: 1rem;
  background:rgb(248, 248, 248) 100%;
}

.card_title {
  color: #000000;
  font-size: 1.2rem;
  font-weight: 250px;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
 font-family: monospace;

}

.card_text {
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;    
  font-weight: 400;
}
.Myths:hover, .Myths:focus {
  outline: none;
}
